body{
    background-color: black;
    width: 300px;
    height: 300px;
}
.calculator{
    width: 300px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    
}
h1{
    color: aliceblue;
    font-family: sans-serif;
    width: 10px;
    height: 10px;
    text-align: center;
    margin: 50px auto;
}
button{
    padding: 20px;
    font-size: 20px;;
}

#display{
    width: 300px;
}
